<?xml version="1.0"?>
<launch>

  <arg name="map_file" default="$(find location_lms100)/maps/map_TungNV.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Laser LMS1xx -->
  <include file="$(find sick_scan)/launch/map_sick_lms_1xx.launch"/>

  <!-- Laser Odom -->
  <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry_TungNV.launch"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find location_lms100)/launch/amcl.launch"/>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find location_lms100)/rviz/location.rviz"/>
  </group>
 
</launch>
