<?xml version="1.0"?>
<launch>

  <rosparam command="load" file="$(find joint_state_controller)/joint_state_controller.yaml" />
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="joint_state_controller" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Robot discription -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find rosbot_description)/urdf/rosbot_TungNV.xacro'"/>

  <!-- Gazebo -->
  <node name="rosbot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model rosbot" />
  <include file="$(find rosbot_gazebo)/launch/world_TungNV.launch"></include>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find rosbot_description)/rviz/rosbot_TungNV.rviz" required="true" output="screen"/>

  <!-- load map with amcl-->
  <include file="$(find rosbot_navigation)/launch/amcl_demo_TungNV.launch"></include>

</launch>
